<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style>
        .bind{
            display: flex;
            flex-direction: column;
        }
        .bind span{
            margin-top: 10px;
        }
    </style>
    <script type="text/javascript">
    $(function(){
            $(document).on("click","#submit",function(){
                findIdSubmit();
            });
        });
        
        function findIdSubmit(){
            var pass = $(".bind input[name='pass").val();
            var confirm = $(".bind input[name='confirm").val();

            var result = yotCommonConn({
                url: "/member/updatePass",
                pass: pass,
                confirm: confirm,
            });

            alert("변경되었습니다");
            $(location).attr("href","/main")
        }

        function yotCommonConn(data){
            var obj = new Object();
            $.ajax({
                url: data.url,
                data: data,
                dataType: "json",
                type: "post",
                async: "false",
                success: function(result){
                    obj = result;
                }
            })
            return obj;
        }   
    </script>
    <title>Document</title>
</head>
<body>
    <div class="bind">
        <span>비밀번호 재설정</span>
        <span>비밀번호</span>
        <input type="text" name="pass" placeholder="비밀번호를 입력해주세요">
        <span>비밀번호 확인</span>
        <input type="text" name="confirm" placeholder="한번 더 입력해주세요">
        <input type="button" id="submit" value="변경">
    </div>
</body>
</html>